body {
    background-color: azure;

    .br2x {
      margin:4.5em 0;/* FF for instance */
      line-height:5em;/* chrome for instance */
    }
    .size1{
      height: 50px;
      width: 50px;
      padding: 5px;
      border-radius: 50px;
      animation:myfirst 3s;
      -moz-animation:myfirst 3s infinite; /* Firefox */
      -webkit-animation:myfirst 3s infinite; /* Safari and Chrome */
    
      @-webkit-keyframes myfirst /* Firefox */
      {
      0%   {box-shadow: 2px 2px 2px white;}
      25%   {box-shadow: 4px 4px 4px white;}
      50%   {box-shadow: 6px 6px 6px white;}
      75%   {box-shadow: 4px 4px 4px white;}
      110%   {box-shadow: 2px 2px 2px white;}
      }

    }
    

}



.navbar > .container .navbar-brand {
    padding: 0;
}
	
.navbar.navbar-inverse {
    background-color: #000000;
    border-color: #080808;
}


.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}


#book {
  background-color: white;
  position: relative;
  width: 830px;
  height: 260px;
  left: 50%;
  top: 50%;
  margin-left: -400px;
  margin-top: -125px;
}

#pages section {
  background-color: white;
  display: block;
  width: 400px;
  height: 250px;
  position: absolute;
  left: 415px;
  top: 5px;
  overflow: hidden;
}
  #pages section>div {
    display: block;
    width: 400px;
    height: 250px;
    font-size: 12px;
  }
  #pages section p,
  #pages section h2 {
    padding: 3px 35px;
    line-height: 1.4em;
    text-align: justify;
  }
  #pages section h2{
    margin: 15px 0 10px;
  }

#pageflip-canvas {
  position: absolute;
  z-index: 100;
}

	


/*BEGIN max and min width 992px*/
@media (min-width: 992px) {
}

@media (max-width: 992px) {
}


/*BEGIN max and min width 940px*/
@media (max-width: 940px) {
}

@media (min-width: 767px) {

}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 992px) { 
	}

@media (max-width: 768px) {
	.size2{
		width: 65%;
	}
}

@media (max-width: 766px) {
	
}




@media (min-width: 768px) and (max-width: 992px) { 
	
}

/*BEGIN max and min width 320px*/
@media (max-width: 320px) {

	
}