extends layout

block content

	.container
		.row
			.col-md-12.col-sm-12.col-xs-12
				.text-left
					p Reynan Estrella Bautista
					p B-6 L-13 Bethel Street Villa Carpio Subd. Parian Calamba City
					p Cellphone # : 09152783562
					p Email Add: reynan2k13@gmail.com

					