extends layout

block content
    h1.
        User List
    ul
        each user, i in userlist
            li
                a(href="mailto:#{user.email}")= user.username

    h1= title
    form#formAddUser(name="adduser",method="post",action="/add")
        input#inputUserName(type="text", placeholder="username", name="username")
        input#inputUserPassword(type="password", placeholder="userpassword", name="userpassword")
        button#btnSubmit(type="submit") submit    


    h1= titleEdit
    form#formAddUser(name="edituser",method="post",action="/edituser")
        input#inputUserName(type="text", placeholder="username", name="username")
        input#inputNewUserName(type="text", placeholder="newusername", name="newusername")
        button#btnSubmit(type="submit") submit  


    h1= titleDel
    form#formAddUser(name="deluser",method="post",action="/deluser")
        input#inputUserName(type="text", placeholder="username", name="username")
        button#btnSubmit(type="submit") submit            


